<!--Why does making this a body tag mess up alignment
    A: because it overrides the body in application.html.erb, and
       this can be avoided by using unique names.
-->
<header class="masthead">
  <nav class="language-nav">
    <!--Does an unordered list have to have list items?-->
    <ul>
      <li><a href="https://www.google.com">CSS</a></li>
      <li><a href="https://www.google.com">HTML</a></li>
      <li><a href="https://www.google.com">Javascript</a></li>
      <li><a href="https://www.google.com">Ruby</a></li>
    </ul>
  </nav>

  <!--Rails will automatically find the assets for us-->
  <img src="assets/AA_Times_Logo.png" class="logo <!--fas fa-spin-->">

  <nav class="masthead-links">
    <ul>
      <li><time>Tuesday, October 18, 2016</time></li>
      <li>
        <a href="https://www.google.com" class="fas fa-spin"><i class="far fa-newspaper"></i>Today's Paper</a>
      </li>
      <li>
        <a href="https://www.google.com"><i class="fas fa-video"></i>Video</a>
      </li>
      <li><button>77°F</button></li>
      
      <!--an inline tag-->
      <li><button>AAO <strong>+100%</strong><button></li> 
    </ul>
  </nav>
</header>