<header class="sections-nav">
  <ul>
    <li><a href="https://www.google.com">World</a></li>
    <li><a href="https://www.google.com">San Francisco</a></li>
    <li><a href="https://www.google.com">New York</a></li>
    <li><a href="https://www.google.com">Bootcamp Prep</a></li>
    <li><a href="https://www.google.com">Jumpstart</a></li>
    <li><a href="https://www.google.com">Online</a></li>
    <li><a href="https://www.google.com">Marketing</a></li>
    <li><a href="https://www.google.com">Sales</a></li>
    <li><a href="https://www.google.com">TalentMatch</a></li>
    <li><a href="https://www.google.com">Alumni</a></li>
    <li><a href="https://www.google.com">All</a></li>
  </ul>
</header>