<h1> Here are all cats. So floof! </h1>
<ul> 
  <% @cats.each do |cat|  %>
    <li>  
        <a href="<%= cat_url(cat) %>"> <%= cat.name %> </a>   
    </li>
  <% end  %>
</ul>

<br>
<br>
<a href="<%= new_cat_url %>"> Make A New Cat </a>  