<%= render "form", type: :new, cat: @cat %>

<!--
Original Form in case FUBAR
<form action="<%#= cats_url %>" method="post">
  <label for = "name"> Name:
    <input type="text" id="name" name="cat[name]" value="<%#= @cat.name %>">
  </label>
  <br>
  <br>

  <label for="sex">Sex:
    M <input type="radio" id="sex" name="cat[sex]" value="M" checked>
    F <input type="radio" id="sex" name="cat[sex]" value="F">
  </label>
  <br>
  <br>

  <label for="color">Color:
    <select id="color", name="cat[color]"> 
        <option disabled <%#= @cat.color ? "" : "selected" %> > -- Please Choose a Color -- </option>
      <%# Cat::VALID_COLORS.each do |color| %> 
        <option value="<%#=color%>"> <%#=color%> </option>   
      <%# end %>
    </select>
  </label>
  <br>
  <br>

  <label for="birth_date">Birth date:  
    <input type="date" id="birth_date" name="cat[birth_date]" value=<%#=Time.now%>> 
  </label>
  <br>
  <br> 

  <label for="description">Description:
    <textarea name="cat[description]"><%#=@cat.description%></textarea>
  </label>

  <input type="submit" value="Create Cat">

</form>
--->